<div class='chipoModal' id='myChipoModal-order' style='z-index: 9999999999'>
    <div class='chipoModal-dialog' role='document'>
        <div class='chipoModal-content chipoModal-cp'>
            <div class='chipoModal-header'>
                <button type='button' class='close' data-dismiss='chipoModal' aria-label='Close'></button>
                <h4 class='chipoModal-title text-success text-uppercase' id='myChipoModalLabel'
                    style='font-weight: bold'>Thêm vào giỏ hàng thành công</h4>
            </div>
            <div class='chipoModal-body' style='min-height: auto'>
                <div class='box-deposit pd15 row'>
                    <div class='ls-deposit'>
                        <p></p>
                    </div>
                    <br>
                    <div class='ls-warning'>
                        <p>CHÚNG TÔI KHUYẾN CÁO BẠN KHÔNG NÊN DÙNG GOOGLE DỊCH KHI ĐẶT HÀNG.</p>
                        <p>KHI SỬ DỤNG GOOGLE DỊCH THÔNG TIN SẢN PHẨM CỦA SHOP/SẢN PHẨM SẼ BỊ SAI LỆCH VÀ ĐƠN HÀNG CÓ
                            THỂ BỊ HUỶ</p>
                    </div>
                </div>
            </div>
            <div class='chipoModal-footer'>
                <a href='#' type='button' class='btn btn-chipo' data-dismiss='chipoModal'>Tiếp tục mua hàng</a>
                <a href='' type='button' class='btn btn-default' target='_blank'>Vào giỏ hàng</a>
            </div>
        </div>
    </div>
</div>