<div class="chipo-wrapper _chipo-wrapper">
  <div class="chipo-alert _alert-shop-credible ">
    <strong
      >QUÝ KHÁCH VUI LÒNG KHÔNG SỬ DỤNG GOOGLE TRANSLATE KHI CLICK VÀO NÚT ĐẶT
      HÀNG</strong
    >
    <br />
    <p class="_chipo-message box-warning-ao hidden">
      <span></span>
      <span class="close-warning-ao _close-warning-ao"></span>
    </p>
  </div>
  <div class="chipo-content">
    <div class="chipo-block">
      <ul class="chipo-list-inline">
        <li class="">
          <!--<a id='_add-to-favorite' href='javascript:;' class='save-product-ao'> Lưu sản phẩm </a>-->
          <a href="" style="color: white" target="_blank" class="_chipo-home"
            >Trang chủ</a
          >
        </li>
        <li>
          <label>
            <input
              type="checkbox"
              name="is_translate"
              class="_is_translate"
              id="_is_translate"
            /><span></span>
            Dịch tự động
          </label>
          <label> </label>
        </li>
        <li>
          <a
            href="javascript:;"
            class="btn _addToCart btn-order"
            data-target="#myChipoModal-order"
          >
            <i class="pull-left"></i> ĐẶT HÀNG NAIPOT
          </a>
          <a href="" target="_blank" class="chipo-link _link-detail-cart">
            <i class="chipo-icon-shopping-cart"></i> Vào giỏ hàng
          </a>
        </li>
        <li class="pull-right"></li>
      </ul>
    </div>
  </div>
</div>
