<div class='tbdn-box-info'>
    <div class='tbdn-logo'>
        <a href='http://localhost:8081' target='_blank'>
            <img />
        </a>
    </div>
    <div class='tbdn-basic-info'>
        <ul>
            <li>Giá bán: <span id='sell_price' class='text-tbdn'></span></li>
            <li>Tỷ giá 1<span class='tbdn-yen'>¥</span>: <span id='exchange_rate' class='text-tbdn'></span>
            </li>
            <li>Còn <span id='stock' class='text-tbdn'></span> sản phẩm</li>
        </ul>
    </div>
    <div class='tbdn-warning hidden'></div>
    <div class='tbdn-advanced-info hidden'>
        <table>
            <thead>
            <tr>
                <th>Điều kiện mua</th>
                <th>Giá</th>
            </tr>
            </thead>
            <tbody class='tbdn-1688-price'>
            </tbody>
        </table>
    </div>
    <div class='tbdn-note'>
        <textarea id='tbdn-textarea' placeholder='Ghi chú sản phẩm' rows='3' maxlength='2000'></textarea>
    </div>
</div>