<div class='chipo-box-info'>
    <div class='chipo-logo'>
        <a href='javascript:;' target='_blank' title='Cổng nhập hàng Trung Quốc tận gốc uy tín, giá rẻ'>
            <img src='chrome-extension://ojecmeaghlcaiekkffhblonfnlcbepbl/images/logo-np.png' width="80"/>
        </a>
    </div>
    <div class='chipo-basic-info'>
        <ul>
            <li>Giá bán: <span id='sell_price' class='text-chipo'></span></li>
            <li>Tỷ giá 1<span class='chipo-yen'>¥</span>: <span id='exchange_rate' class='text-chipo'></span>
            </li>
            <li>Còn <span id='stock' class='text-chipo'></span> sản phẩm</li>
        </ul>
    </div>
    <div class='chipo-warning hidden'></div>
    <div class='chipo-advanced-info hidden'>
        <table>
            <thead>
            <tr>
                <th>Điều kiện mua</th>
                <th>Giá</th>
            </tr>
            </thead>
            <tbody class='chipo-1688-price'>
            </tbody>
        </table>
    </div>
    <div class='chipo-note'>
        <textarea id='chipo-textarea' placeholder='Ghi chú sản phẩm' rows='3' maxlength='2000'></textarea>
    </div>
</div>