<div class='tbdnModal fade in' id='myTbdnModal-order' style='z-index: 9999999999'>
    <div class='tbdnModal-dialog' role='document'>
        <div class='tbdnModal-content tbdnModal-cp'>
            <div class='tbdnModal-header'>
                <button type='button' class='close' data-dismiss='tbdnModal' aria-label='Close'></button>
                <h4 class='tbdnModal-title text-success text-uppercase' id='myTbdnModalLabel'
                    style='font-weight: bold'>Thêm vào giỏ hàng thành công</h4>
            </div>
            <div class='tbdnModal-body' style='min-height: auto'>
                <div class='box-deposit pd15 row'>
                    <div class='ls-deposit'>
                        <p></p>
                    </div>
                    <br>
                    <div class='ls-warning'>
                        <p>BẠN KHÔNG NÊN DÙNG GOOGLE DỊCH KHI ĐẶT HÀNG</p>
                        <p>KHI SỬ DỤNG GOOGLE DỊCH THÔNG TIN SẢN PHẨM CỦA SẢN PHẨM SẼ BỊ SAI LỆCH</p>
                    </div>
                </div>
            </div>
            <div class='tbdnModal-footer'>
                <a href='#' type='button' class='btn btn-tbdn' data-dismiss='tbdnModal'>Tiếp tục mua hàng</a>
                <a href='' type='button' class='btn btn-default' target='_blank'>Vào giỏ hàng</a>
            </div>
        </div>
    </div>
</div>

<div class='tbdnModal fade in' id='errTbdnModal-order' style='z-index: 9999999999'>
    <div class='tbdnModal-dialog' role='document'>
        <div class='tbdnModal-content tbdnModal-cp'>
            <div class='tbdnModal-header'>
                <button type='button' class='close' data-dismiss='tbdnModal' aria-label='Close'></button>
                <h4 class='tbdnModal-title text-danger text-uppercase' id='myTbdnModalLabel'
                    style='font-weight: bold'>Cảnh báo</h4>
            </div>
            <div class='tbdnModal-body' style='min-height: auto'>
                <div class='box-deposit pd15 row'>
                    <div class='ls-deposit'>
                        <p></p>
                    </div>
                    <br>
                    <div class='ls-warning'>
                        <p>BẠN KHÔNG NÊN DÙNG GOOGLE DỊCH KHI ĐẶT HÀNG</p>
                        <p>KHI SỬ DỤNG GOOGLE DỊCH THÔNG TIN SẢN PHẨM CỦA SẢN PHẨM SẼ BỊ SAI LỆCH</p>
                    </div>
                </div>
            </div>
            <div class='tbdnModal-footer'>
                <a href='#' type='button' class='btn btn-tbdn' data-dismiss='tbdnModal'>OK</a>
                <a id="btnLogin" href='#' type='button' class='btn btn-default' target='_blank' style="display: none;">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>