<div class='tbdn-wrapper _tbdn-wrapper'>
    <!-- <div class='tbdn-alert _alert-shop-credible '>
        <strong>QUÝ KHÁCH VUI LÒNG KHÔNG SỬ DỤNG GOOGLE TRANSLATE KHI CLICK VÀO NÚT ĐẶT HÀNG</strong>
        <br>
        <p class='_tbdn-message box-warning-ao hidden'>
            <span></span>
            <span class='close-warning-ao _close-warning-ao'></span>
        </p>
    </div> -->
    <div class='tbdn-content'>
        <div class='tbdn-block'>
            <ul class='tbdn-list-inline'>
                <li>
                    <a href='#' target='_blank' class="tbdn-link _tbdn-home">
                        <i class='tbdn-icon-home'></i> Trang Chủ
                    </a>
                </li>
                <li>
                    <label>
                        <input type='checkbox' name='is_translate' class='_is_translate' id='_is_translate'>
                        <span></span>
                        Dịch
                    </label>
                    <label>
                    </label>
                </li>
                <li>
                    <a href='javascript:void(0);' class='btn _addToCart btn-order' data-target='#myTbdnModal-order'>
                        <i class='pull-left'></i> THÊM VÀO GIỎ
                    </a>
                    <a href='#' target='_blank' class='tbdn-link _link-detail-cart'>
                        <i class='tbdn-icon-shopping-cart'></i> Xem Giỏ Hàng
                    </a>
                </li>
                <!-- <li class='pull-right'>
                </li> -->
            </ul>
        </div>
    </div>
</div>